<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>

    <!-- Bouton hamburger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu responsive -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav gap-4 mx-4 py-2">

        <%= link_to "Accueil", root_path, class: "nav-link" %>
        <%= link_to "Qui suis-je ?", quisuisje_path, class: "nav-link" %>
        <%= link_to "Prestations", prestations_path, class: "nav-link" %>
        <%= link_to "Prendre rendez-vous", rdv_path, class: "nav-link" %>
        <a class="nav-link" href="#">Tarifs</a>
        <a class="nav-link" href="#">Informations pratiques</a>
        <%= link_to "Contact", root_path(anchor: "contact-container"), class: "nav-link" %>


      </div>
    </div>
  </div>
</nav>
