<%= render 'shared/navbar' %>
<div class="banner">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center gap-4">
 <div class="text-center">
        <%= image_tag "LogoViolaine.png", alt: "Violaine Soulas", id:"logo" %>
        <div class="text-center cormorant" id="contact-container">
              <p class="contact">Contactez moi pour un renseignement ou une prise de rendez-vous</p>
              <p class="nom">Violaine Soulas - Psychologue </p>
              <p class="adresse">Adresse : 19 Espace Mediterranée - 2ème étage - Perpignan</p>
              <p class="tel">Mail : vsoulas.psychologue@gmail.com</p>
      </div>
      </div>

       <div class="canigou d-flex justify-content-center">
        <%= image_tag "canigou.jpg", alt: "Canigou", class: "img-fluid" %>
       </div>
  </div>



  </div>

</div>


<%= render 'shared/link-doctolib' %>

<%= render 'shared/footer' %>
