<%= render 'shared/navbar' %>
<div class="banner">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center gap-4" id="home-container">
      <div class="text-center">
              <%= image_tag "LogoViolaine.png", alt: "Violaine Soulas", id:"logo" %>
              <div class="text-center cormorant" id="contact-container">
                    <p class="rdv">Prise de rendez-vous sur doctolib </p>
                    <p class="adresse">Adresse : 6 bis avenue du Maréchal Joffre
                      <p class="adresse"> 66240 Saint-Estève</p>
                    <p class="contact">N'hésitez pas à me contacter par mail pour tout demande d'informations </p>
                    <p class="mail"><strong>Mail : vsoulas.psychologue@gmail.com</strong></p>
            </div>
            </div>

            <div class="canigou d-flex justify-content-center">
              <%= image_tag "canigou.jpg", alt: "Canigou", class: "img-fluid" %>
            </div>
        </div>
  </div>
</div>


<%= render 'shared/link-doctolib' %>

<%= render 'shared/footer' %>
