<%= render 'shared/navbar' %>

  <div class="container text-center cormorant mt-4">
    <h1 class=" title" id="home-title">
      <span >Psychologue à Saint-Estève</span> <br>Consultations et bilans pour enfants, adolescents et adultes
    </h1>

  <%= link_to quisuisje_path, class: "text-decoration-none fs-5" do %>
    <p class="sous-title text-center"><em ><strong>Qui suis-je</strong></em> </p>
  <% end %>
  <%= link_to prestations_path, class: "text-decoration-none fs-5" do %>
    <p class="sous-title text-center"><em ><strong>Accompagnements proposés</strong></em> </p>
  <% end %>

      <div class="d-flex justify-content-center align-items-center gap-4" id="home-container">
        <div class="text-center">
          <%= image_tag "LogoViolaine2.png", alt: "Violaine Soulas", id:"logo" %>
          <div class="text-center cormorant" id="contact-container">

                <p class="rdv">Prise de rendez-vous sur doctolib </p>
                <p class="adresse">Adresse : 6 bis avenue du Maréchal Joffre</p>
                  <p class="adresse"> 66240 Saint-Estève</p>
                <p class="contact">N'hésitez pas à me contacter par mail pour tout demande d'informations </p>
                <p class="mail"><strong> Mail:  vsoulas.psychologue@gmail.com</strong></p>

          </div>
        </div>

        <div class="canigou d-flex justify-content-center align-items-center">
          <%= image_tag "canigou.jpg", alt: "Canigou", class: "img-fluid" %>
        </div>
    </div>




  <div class="row d-flex justify-content-center align-items-center" id="quisuisje-container">
    <div class="col d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column align-items-center justify-content-between text-photo-container">
        <h2 class="title-qui text-center">Je m’appuie sur la science pour orienter mon travail et sur l’humain pour le mettre en sens.</h2>
        <%= image_tag "moi.JPG", alt: "Violaine Soulas, psychologue à Saint-Estève", id:"logo-photo" %>
      </div>
    </div>
    <div class="col-sm-10 col-md-8 col-lg-6 mt-3">
      <h3>Mon parcours</h3><p class="cormorant ">Originaire de Saint-Estève, j’ai étudié la psychologie à l’Université Paul Valéry de Montpellier avant d’intégrer l’Éducation nationale, où j’ai exercé plus de 15 ans en tant que Psychologue auprès de jeunes et de leurs familles. </p>
      <p class="cormorant">J’y ai pris plaisir à les accompagner dans leurs parcours scolaires et personnels : orientation, questionnements, constitution de dossiers MDPH, compréhension d’un diagnostic, prévention du harcèlement, soutien psychologique, travail en équipe…</p>
      <p class="cormorant">Parallèlement, j’ai également travaillé au sein d’un CIO (Centre d’Information et d’Orientation), où je recevais des étudiants et un public adulte, afin de les aider dans leurs choix d’orientation, leurs questionnements professionnels et personnels, et à mieux comprendre leurs besoins.</p>
        <h3>Mon approche</h3><p class="cormorant">Aujourd’hui, j’accueille enfants, adolescents et adultes dans un cadre bienveillant et confidentiel, pour des bilans psychologiques ou des entretiens d’accompagnement. </p>
        <h3>Mon objectif</h3><p class="cormorant">Accompagner chacun dans la compréhension de soi, de ses besoins et de ses ressources, afin de progresser à son rythme vers un parcours scolaire, personnel ou professionnel plus serein et épanoui.</p>
    </div>
  </div>

    <div class="row d-flex justify-content-center my-4" id="prestations-container">
      <div id="citation">"Le plus grand voyage commence par un pas vers soi"
        <p>- Anonyme </p>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-6 mt-4 justify-content-center" id="bilans-container">
        <%= link_to consultationindividuelle_path, class: "click" do %>
          <div id="bilan">
            Consultation individuelle
            <%= image_tag "entretien.png", alt: "Cliquez ici pour en savoir plus" %>
          </div>
        <% end %>
        <%= link_to bilanpsychologique_path, class: "click" do %>
          <div  id="bilan">Bilans Psychométriques <%= image_tag "puzzle.png" %></div>
        <% end %>
        <%= link_to bilancompetences_path, class: "click " do %>
          <div id="bilan">Bilans de compétences <%= image_tag "chemin.png", alt: "Cliquez ici pour en savoir plus" %></div>
        <% end %>


      </div>
    </div>



  </div>



<%= render 'shared/link-doctolib' %>

<%= render 'shared/footer' %>
