<%= render "shared/navbar" %>
<div class="container">
  <div class="row d-flex justify-content-center my-4" id="prestations-container">
    <div id="citation">"Le plus grand voyage commence par un pas vers soi"
      <p>- Anonyme </p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6 mt-4 justify-content-center" id="bilans-container">
      <%= link_to bilans_path(anchor: "consultation-individuelle-title"), class: "click" do %>
        <div id="bilan">
          Consultation individuelle
          <%= image_tag "entretien.png", alt: "Cliquez ici pour en savoir plus" %>
        </div>
      <% end %>
      <%= link_to bilans_path, class: "click" do %>
        <div  id="bilan">Bilans Psychométriques <%= image_tag "puzzle.png" %></div>

      <% end %>
      </div>
    </div>

  <div class="row d-flex justify-content-center my-4" id="prestations-container">
     <div class="d-flex justify-content-center"><h2 class="title">Prochainement</h2></div>
        <div class="col-sm-12 col-md-8 col-lg-6 mt-4 justify-content-center" id="bilans-container">

        <div id="bilan">Bilans d'orientation <br><br><%= image_tag "boussole.png" %><%= link_to "Cliquez ici pour en savoir plus", bilans_path, class:"click" %></div>
        <div id="bilan">Bilans de compétence <%= image_tag "chemin.png", alt: "Cliquez ici pour en savoir plus" %><%= link_to "Cliquez ici pour en savoir plus", bilans_path, class:"click" %></div>
      </div>
  </div>
</div>
<%= render "shared/link-doctolib" %>
<%= render "shared/footer" %>
