<%= render "shared/navbar" %>
<div class="container">
  <div class="row d-flex justify-content-center" id="prestations-container">
    <div id="citation">"Le plus grand voyage commence par un pas vers soi"
      <p>- Anonyme </p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6 mt-4 justify-content-center" id="bilans-container">
      <%= link_to consultationindividuelle_path, class: "click" do %>
        <div id="bilan">
          Consultation individuelle
          <%= image_tag "entretien.png", alt: "Cliquez ici pour en savoir plus" %>
        </div>
      <% end %>
      <%= link_to bilanpsychologique_path, class: "click" do %>
        <div  id="bilan">Bilans Psychométriques <%= image_tag "puzzle.png" %></div>
      <% end %>
      <%= link_to bilancompetences_path, class: "click " do %>
        <div id="bilan">Bilans de compétences <%= image_tag "chemin.png", alt: "Cliquez ici pour en savoir plus" %></div>
      <% end %>
      </div>
    </div>


</div>
<%= render "shared/link-doctolib" %>
<%= render "shared/footer" %>
