<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <!-- Favicon -->
    <link rel="icon" href="<%= image_path('LogoViolaine2.png') %>" type="image/x-icon" />


    <!-- Title & Meta Description -->
    <title><%= yield(:title) || "Psychologue à Saint-Estève – Violaine Soulas" %></title>
    <meta name="description" content="<%= yield(:meta_description) || "Violaine Soulas, psychologue à Saint-Estève, accompagne enfants, adolescents et adultes via consultations et bilans psychométriques." %>">

    <!-- Open Graph / Réseaux sociaux -->
    <meta property="og:title" content="<%= yield(:title) || "Psychologue à Saint-Estève – Violaine Soulas" %>" />
    <meta property="og:description" content="<%= yield(:meta_description) || "Violaine Soulas, psychologue à Saint-Estève, accompagne enfants, adolescents et adultes via consultations et bilans psychométriques." %>" />
    <meta property="og:image" content="<%= image_url('moi.JPG') %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />


    <!-- Canonical URL -->
    <link rel="canonical" href="<%= request.original_url %>" />

    <!-- JSON-LD Schema.org -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Violaine Soulas",
      "image": "<%= image_url('moi.JPG') %>",
      "jobTitle": "Psychologue",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "6 bis avenue du Maréchal Joffre",
        "postalCode": "66240",
        "addressLocality": "Saint-Estève"
      },
      "url": "<%= request.original_url %>"
    }
    </script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
